<a class="field-file-link" target="_blank" href="{{ prefixUrl }}{{ cell }}">
  <img width="96" onerror="this.onerror=null;this.className = '';this.width = '48';this.src='public/default/back/bower_components/file-icons/48px/{{ cell|split('.')|last }}.png';" src="{{ prefixUrl }}{{ cell }}"
       class="img-thumbnail img-responsive">
</a>