{% extends 'error/errorMain.html.twig' %}

{% block content %}
    <h2>{{ title }}</h2>
    {% if message %}
        <p>
            {{ message }}
        </p>
    {% endif %}
    {% if timeRemaining %}
        <svg width="360" height="170">
            <!-- Symbol -->
            <symbol id="s-text">
                <text  id="remaining-time" text-anchor="middle" x="50%" y="95%" dy=".0em">
                    {{ timeRemaining }}
                </text>
            </symbol>
            <!-- Duplicate symbols -->
            <use xlink:href="#s-text" class="animate-text"></use>
            <use xlink:href="#s-text" class="animate-text"></use>
            <use xlink:href="#s-text" class="animate-text"></use>
            <use xlink:href="#s-text" class="animate-text"></use>
            <use xlink:href="#s-text" class="animate-text"></use>
        </svg>
        <p>
            secondes
        </p>
    {% endif %}

    <div class="sub">
        <p>
            <a class="btn" href="{{ btn.href }}">{{ btn.content }} </a>
        </p>
    </div>


    <script type="text/javascript">
        // update the tag with id "countdown" every 1 second
        var remainingInterval = setInterval(function () {
            var currentSeconds = document.getElementById('remaining-time').innerHTML;
            var newSeconds = Math.max(currentSeconds - 1, 0);
            document.getElementById('remaining-time').innerHTML = newSeconds;
            if (newSeconds <= 0) {
                location.reload();
                clearInterval(remainingInterval);
            }
        }, 1000);
    </script>
{% endblock %}
