
{% if menuPage|length > 1 %}
    {# Cas où la liste des pages du site est séparée en fonction de gabarit (menu déroulant) #}
    <li class="{{ controller == 'back/page' ? ' active' }}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i>&nbsp; Pages <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for indexMenuPage, menuPage in mPage %}
                <li class="{{ currentMenuPage is same as(indexMenuPage) ? ' active' }}">
                    <a href="back/page/liste.html?c={{ indexMenuPage }}"> {{ mPage.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% else %}
    {# Cas où la liste des pages du site est une et une seule page #}
    <li class="{{ controller == 'back/page' ? ' active' }}"><a href="back/page/liste.html"><i class="fa fa-list"></i>&nbsp; Pages</a></li>
{% endif %}


{% if appConfig.get('i18n', 'active') %}
    <li class="{{ controller == 'back/datatable' and name == 'translate' ? ' active' }}">
        <a href="back/datatable/list.html?name=translate">Textes statiques</a>
    </li>
{% endif %}

{% if utilisateur.get("niveau") == 'super administrateur' %}
    <li class="{{ controller == 'back/datatable' and name == 'redirection' ? ' active' }}">
        <a href="back/datatable/list.html?name=redirection">Redirections 301</a>
    </li>
    <li class="{{ controller == 'back/datatable' and name == 'log' ? ' active' }}">
        <a href="back/datatable/list.html?name=log">Logs</a>
    </li>
{% endif %}

{% include 'menuadd-1.html.twig' ignore missing %}

{% if utilisateur.get("niveau") == 'administrateur' or utilisateur.get("niveau") == 'super administrateur' %}
    <li class="{{ controller == 'back/user' and action == 'list' and name == 'user' ? ' active' }}">
        <a href="back/user/list.html?name=user"><i class="fa fa-users"></i>&nbsp; Utilisateurs</a>
    </li>
{% endif %}